body {
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-size: 1.85rem;
    margin-bottom: 50px;
}

.brand-title {
    font-size: 26px;
    padding: 1rem;
}

.nav-item {
    font-size: 14px;
}
.navbar-collapse {
    align-items: baseline;
}

.logo {
    width: 50px;
}
.circles {
    max-width: 100%;
    margin: 0 auto;
}

.circle {
    padding: 31px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family:'Anton', sans-serif;
    flex: 0 0 105px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-block;
    border: 7px solid white;
}
.circle1 {
    background-color: #e6563b;
}
.circle2 {
   background-color: #eb9d3a;
}

.circle3 {
  background-color: #7cb06c;
}

.circle4 {
    background-color: #00aba9;
}

.circle-sm {
    font-size: 15px;
    text-align: center;
    color: black;
    font-family:'Anton', sans-serif;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    display: inline-block;
}


.img-lg {
  margin-top: 85px;
}

.img-wrapper {
    flex: 0 0 65px;
}

.img-sm {
    width: 65px;
    height: 65px;
    object-fit: fill;
    padding: unset;
    /*margin-left: 50px;*/
}

.post-thumbnail {
    width: 100%;
    aspect-ratio: 480/320;
    object-fit: cover;
}

.mini-headers {
    margin: 40px 30px;
}

.image-gap {
    margin: 15px;
}

@media screen and (max-width: 550px) {
    .circles {
        max-width: 300px;
    }
    .img {
        padding-top: 85px;
    }
}

@media screen and (max-width: 992px) {
    .hidden {
        display: none;
    }
    .brand-title {
        padding: unset;
    }
}

